<nav class="menu-hover-width-bottom">
  <ul class="list">
    <li class="item anim--fadeInUp delay-1"><a class="link" href="/">Home</a></li>
    <li class="item anim--fadeInUp delay-2"><a class="link" href="#">Portfolio</a></li>
    <li class="item anim--fadeInUp delay-3"><a class="link" href="#">About</a></li>
    <li class="item anim--fadeInUp delay-4"><a class="link" href="/contact">Contact</a></li>
  </ul>
</nav>